{% extends 'base.html.twig' %}
  {% block body %}
  <div class="container">
    <div class="form">
        <h2 class="h3 mb-3 font-weight-normal text-center">Modifier une catégorie</h2>
        {{form_start(form)}}
<div class="mb-3">
    {{ form_label(form.name, null, {'label_attr': {'class':'form-label mb-1'}}) }}
    {{ form_widget(form.name, {'attr': {'class':'form-control', 'placeholder':'category name'}}) }}
</div>
<div class="mb-3">
<button type="submit" class="btn btn-lg btn-primary">Modifier</button>
</div>


        {{form_end(form)}}
    </div>
  </div>
{% endblock %}
