{% extends 'base.html.twig' %}

{% block title %}Edit SubCategory{% endblock %}

{% block body %}
<div class="container">
    <h1>Modifier la sous-catégorie</h1>

    {{ include('sub_category/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_sub_category_index') }}" class=" btn btn-primary mb-3">back to list</a>

    {{ include('sub_category/_delete_form.html.twig') }}

</div>
{% endblock %}
